* {
  padding: 0;
  margin: 0;
}
.img-responsive {
  width: 100px;
  height: auto;
}
.wrraper-page {
  height: auto;
  margin: 0 auto;
}

.price-image {
  text-align: center;
  font-size: 14px !important;
  font-weight: 700;
}
.title-image {
  text-align: center;
  margin: 10px 10px;
}

.show-detailBook {
  margin: 0px 10px;
  color: white;
}
.fontSize{
  font-size: 11px;
  font-weight: 700;
}
